$headline-typography: 'Roboto', sans-serif;
$copy-typography: 'PT Sans', sans-serif;

$heading-1-size: 48px !default;
$heading-2-size: 36px !default;
$heading-3-size: 24px !default;
$heading-4-size: 18px !default;

$black: #000000;
$white: #FFFFFF;

$primary-color: #3570CC !default;
$secondary-color: #3D6199 !default;
$tertiary-color: #00EBFF !default;
