$full-width: 100%;

$full-width-flex: 1 0 100%;

$lightning-grid: (
   columns: 12,
   gutter: 3%
);

.full-width {
  width: $full-width;
  flex: $full-width-flex;
}

.grid-container {
  @include grid-container;
}

// .grid-collapse {
//   @include grid-collapse;
// }

.col {
  float: left;
  display: block;
  position: relative;
  min-height: 1px;
  //background: #6F6F6F;
}

$col: 12;

@for $i from 1 through $col {
  .col-#{$i}-of-#{$col} { @include grid-column($i) }
}

