@import '_config/_c-buttons.scss';

button {
  border-radius: $button-border-radius;
  min-width: 50px;
  min-height: 10px;
  padding: $button-padding-top-bottom $button-padding-right-left;
}

.primary-btn {
  background: $primary-button-background-color;
  border: $button-border-size $button-border-type $button-border-color;
}

.secondary-btn {
  background: $secondary-button-background-color;
  border: $button-border-size $button-border-type $button-border-color;
}

.tertiary-btn {
  background: $tertiary-button-background-color;
  border: $button-border-size $button-border-type $button-border-color;
}