@import '_config/_c-input-field.scss';

.field {
  input {
    border-radius: $input-field-radius;
    min-width: 50px;
    min-height: 10px;
    padding: $input-field-padding-top-bottom $input-field-padding-right-left;
  }
  
  textarea {
    border-radius: $input-field-radius;
    min-width: 50px;
    min-height: 10px;
    padding: $input-field-padding-top-bottom $input-field-padding-right-left;
  }
  
  .input-field {
    background: $input-field-button-background-color;
    border: $input-field-border-color $input-field-border-type $input-field-border-size;
  }
  
  .text-area-field {
    background: $input-field-button-background-color;
    border: $input-field-border-color $input-field-border-type $input-field-border-size;
    height: 140px;
  }

  label {
    display: block;
  }
}


