h1, h2, h3, h4 {
	font-family: $headline-typography;
}

h1 {
	font-size: $heading-1-size;
}

h2 {
	font-size: $heading-2-size;
}

h3 {
	font-size: $heading-3-size;
}

h4 {
	font-size: $heading-4-size;
}