// Shape
$button-border-radius: 0 !default;
$button-border-type: solid !default;

// Color
$primary-button-background-color: $primary-color !default;
$secondary-button-background-color: $primary-color !default;
$tertiary-button-background-color: $tertiary-color !default;
$button-text-color: $white !default;
$button-border-color: $black !default;

// Size
$button-padding-top-bottom: 10px 10px !default;
$button-padding-right-left: 10px 10px !default;
$button-border-size: 2px !default;



