// Shape
$input-field-radius: 0 !default;
$input-field-border-type: solid !default;

// Color
$input-field-button-background-color: $white !default;
$input-field-text-color: $black !default;
$input-field-border-color: $black !default;

// Size
$input-field-padding-top-bottom: 10px 10px !default;
$input-field-padding-right-left: 10px 10px !default;
$input-field-border-size: 2px !default;



